/node_modules
package.json
/img
/bower_components/angular
/bower_components/angular-base64
/bower_components/angular-mocks
/bower_components/angular-resource
/bower_components/angular-route
/bower_components/jquery
/bower_components/bootstrap/fonts
/bower_components/bootstrap/grunt
/bower_components/bootstrap/js
/bower_components/bootstrap/less
/bower_components/bootstrap/dist/fonts
/bower_components/bootstrap/dist/js
/bower_components/eonasdan-bootstrap-datetimepicker
/bower_components/moment
/bower_components/moment-timezone
