<!DOCTYPE html>
<html ng-app="resortSearch">
<head>
  <title>SkiBuddy</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="js/app.js"></script>
  <script src="js/resortSearchController.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="js/dates.js"></script>
</head>

<body ng-controller="resortSearchController as search">
  <video autoplay loop poster="img/skibg.jpg" id="bgvid">
    <source src="img/bgvid.mp4" type="video/mp4">
  </video>
  <div class="container" id="center-vertical">
    <div class="col-md-offset-3 col-md-6 text-center">
      <img src="img/logo.png">
    </div>
  </div>
  <div class="container" id="vertical-push">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" ng-model="destination" class="form-control" placeholder="Destination">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" ng-model="startdate" class="form-control" id="datetimepicker1" placeholder="Start Date">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" ng-model="enddate" class="form-control" id="datetimepicker2" placeholder="End Date">
      </div>
    </div>
    <div class="col-md-offset-4 col-md-4 text-center">
      <button class="btn btn-info" ng-click="search.doSearch(destination, startdate, enddate)">Go!</button>
    </div>
  </div>
</body>

</html>
